<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Project Enigmatic</title>
</head>
<body class="container">
    <button><a href="/">Voltar</a></button>
    <form method="POST" action="/login-save">
        <h1>Login</h1>
        <input type="text" name="userLogin" id="" placeholder="Usuário">
        <input type="password" name="passwordLogin" id="" placeholder="Senha">
        <button type="submit">Entrar</button>
        <a href="/signin">Cadastre-se</a>
   </form>
    
</body>
</html>