<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-E</title>
    <link rel="shortcut icon" href="/source/favicon.png" type="image/x-icon">

    
    <link rel="stylesheet" href="css/home.css">
</head>
<body class="container">    
    <div class="container-video">
        
    </div>
    <div class="fade">

    </div>
    
    <div class="container-main">
       
        <div class="container-text"> 
            
            <h1 class="h1-home">PROJECT-<span>E</span></h1>
            <p>Você vê, mas não observa.</p>
            <p></p>
            
        </div>
        
        <div class="container-buttons">
            <a href="/login"><button class="signin_button" >Entrar</button></a>
            <p>ou</p>
            <a href="/signin"><button class="login_button" >Crie sua conta</button></a> 
        </div>
        
    </div>
    <%- include("../partials/footer.ejs")%>
    
  
</body>
</html>