<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Project Enigmatic</title>
</head>
<body class="container">
    <div class="container-main">

        <div class="container-text"> 
            <h1 class="enigmatic">PROJECT - E</h1>
            <p>Você vê, mas não observa.</p>
        </div>
        <div class="container-buttons">
            <button class="login_button" ><a href="/login">Login</a></button>
            <button class="signin_button" ><a href="/signin">Sign In</a>   </button> 
        </div>
        
    </div>
       
</body>
</html>