<!DOCTYPE html>
<html lang="pt-br">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta Criada - Project Enigmatic</title>
    <link rel="shortcut icon" href="/source/favicon.png" type="image/x-icon">


    <link rel="stylesheet" href="css/auth.css">
    <link rel="stylesheet" href="css/inputs.css">
    <link rel="stylesheet" href="css/success.css">
    
    <%- include("../partials/bootstrap.ejs")%>
    
    
</head>
<body class="container">  
    <a  href="/"><button class="voltar"><i class="bi bi-house-door-fill icon"></i></button></a>

    <div class="container-video"></div>
    <div class="fade"></div>
    <div class="container-main"> 
            
        <h1 class="h1-home pisca">CONTA CRIADA!</h1>
        <p>Faça login e começe a jogar.</p>
        <a class="a" href="/login"><button class="signin_button">Login</button></a>
        
    </div>
        <a class="a" href="/login">faça Login</a>
   <%- include("../partials/footer.ejs")%>
   
</body>
</html>