/* AVISOS */

.p-auth{
    font-size: 0.7rem;
    background-color: rgba(255, 8, 0, 0.555);
    padding: 1px;
    
}
.aviso{
    font-size: 0.7rem;
    background-color: rgba(255, 8, 0, 0.555);
    padding: 1px;
    opacity: 1!important;
}
.input-erro{
    background-color:red!important;
    border-bottom: 1px solid rgb(253, 42, 42);
}