<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action= <%= '/v/' + user + pergunta.id %>>
        <p> <%= pergunta.asks %> </p>
        <input type="text" name="resposta" placeholder="Digite sua resposta...">
        <button>Enviar</button>
    </form>
</body>
</html>